.orange-pink {
    background: linear-gradient(45deg, #ff8a00, #e52e71);
}

.logo {
    width: 100px;
    height: 100px;
}

.register-bar {
    background-image: linear-gradient(-90deg, #000000, #333355 );
}

.cursor-hover:hover{
    cursor: pointer;
}

/* Gombok módosítása */
.btn-primary,
.btn-success {
    background-color: white;
    color: #03044b;
    border: none;
}

/* Gomb hover effekt */
.btn-primary:hover,
.btn-success:hover {
    background-color: #f0f0f0;
}

/* Regisztráció gomb stílusa */
.register-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: black;
    color: white;
    border: solid;
    border-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.register-button:hover {
    background-color: #f0f0f0;
    color: #000;
}

/* Placeholder szöveg színe */
.form-control::placeholder {
    color: #cccccc;
}

/* Kártya áttetsző háttér */
.card-register {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.error-message {
    color: #ff4d4d;
    font-size: 0.9rem;
}

.titles {
    font-family: Cambria;
}