.menu-bar {
    background-image: linear-gradient(-90deg, #000000, #03044b );
}

.logo {
    width: 100px;
    height: 100px;
}

.register-bar {
    background-image: linear-gradient(-90deg, #000000, #333355 );
}

.cursor-hover:hover{
    cursor: pointer;
}