<div class="container mt-5 border rounded register-bar text-white">
  <div class="row justify-content-center">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">

          <!-- Cím -->
          <div class="row mb-4">
              <h3 class="text-center">
                  <span class="text-small-caps ms-2">
                      Regisztráció
                  </span>
              </h3>
          </div>

          <!-- Űrlap -->
          <form name="registerForm" novalidate>

              <!-- Vezetéknév -->
              <div class="row mb-3">
                  <label for="register-first_name" class="col-form-label col-12 col-md-5 text-md-end">
                      <span>Vezetéknév:</span>
                  </label>
                  <div class="col-12 col-md-6">
                      <input id="register-first_name"
                             class="form-control"
                             name="first_name" 
                             type="text"
                             placeholder="example: Lakatos"
                             spellcheck="false" 
                             autocomplete="off" 
                             required
                             maxlength="100"
                             ng-init="model.register.first_name=null"
                             ng-model="model.register.first_name"
                             ng-clear-icon>
                  </div>
                  <div class="col-1 d-flex align-items-center justify-content-start ps-1">
                      <span class="fw-bolder text-success"
                            ng-class="{'invisible': registerForm.first_name.$invalid}">&check;</span>
                  </div>
              </div>

              <!-- Keresztnév -->
              <div class="row mb-3">
                  <label for="register-last_name" class="col-form-label col-12 col-md-5 text-md-end">
                      <span>Keresztnév:</span>
                  </label>
                  <div class="col-12 col-md-6">
                      <input id="register-last_name"
                             class="form-control"
                             name="last_name" 
                             type="text"
                             placeholder="example: Dzsenifer"
                             spellcheck="false" 
                             autocomplete="off" 
                             required
                             maxlength="100"
                             ng-init="model.register.last_name=null"
                             ng-model="model.register.last_name"
                             ng-clear-icon>
                  </div>
                  <div class="col-1 d-flex align-items-center justify-content-start ps-1">
                      <span class="fw-bolder text-success"
                            ng-class="{'invisible': registerForm.last_name.$invalid}">&check;</span>
                  </div>
              </div>

              <!-- Email -->
              <div class="row mb-3 justify-content-center">
                  <label for="register-email" class="col-form-label col-12 col-md-5 text-md-end">
                      <span>Email:</span>
                  </label>
                  <div class="col-12 col-md-6">
                      <input id="register-email"
                             class="form-control"
                             name="email" 
                             type="text"
                             placeholder="example: asd@gmail.com"
                             spellcheck="false" 
                             autocomplete="off" 
                             required
                             maxlength="50"
                             ng-init="model.register.email=null"
                             ng-model="model.register.email"
                             ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
                             ng-disable-space
                             ng-clear-icon>
                  </div>
                  <div class="col-1 d-flex align-items-center justify-content-start ps-1">
                      <span class="fw-bolder text-success"
                            ng-class="{'invisible': registerForm.email.$invalid}">&check;</span>
                  </div>
              </div>

              <!-- Jelszó -->
              <div class="row mb-3 justify-content-center">
                  <label for="register-password" class="col-form-label col-12 col-md-5 text-md-end">
                      <span>Jelszó:</span>
                  </label>
                  <div class="col-12 col-md-6">
                      <input id="register-password"
                             class="form-control"
                             name="password" 
                             type="{{model.register.showPassword ? 'text' : 'password'}}"
                             placeholder="example: Aaaa123"
                             spellcheck="false" 
                             autocomplete="off" 
                             required
                             minlength="6"
                             maxlength="20"
                             ng-init="model.register.password=null"
                             ng-model="model.register.password"
                             ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                             ng-disable-space
                             ng-clear-icon>
                  </div>
                  <div class="col-1 d-flex align-items-center justify-content-start ps-1">
                      <span class="fw-bolder text-success"
                            ng-class="{'invisible': registerForm.password.$invalid}">&check;</span>
                  </div>
              </div>

              <!-- Jelszó megerősítés -->
              <div class="row mb-3 justify-content-center">
                  <label for="register-passwordConfirm" class="col-form-label col-12 col-md-5 text-md-end">
                      <span>Jelszó megerősítés:</span>
                  </label>
                  <div class="col-12 col-md-6">
                      <input id="register-passwordConfirm"
                             class="form-control"
                             name="passwordConfirm" 
                             type="{{model.register.showPassword ? 'text' : 'password'}}"
                             placeholder="example: Aaaa123"
                             spellcheck="false" 
                             autocomplete="off" 
                             required
                             minlength="6"
                             maxlength="20"
                             ng-init="model.register.passwordConfirm=null"
                             ng-model="model.register.passwordConfirm"
                             ng-compare-model="model.register.password"
                             ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                             ng-disable-space
                             ng-clear-icon>
                  </div>
                  <div class="col-1 d-flex align-items-center justify-content-start ps-1">
                      <span class="fw-bolder text-success"
                            ng-class="{'invisible': registerForm.passwordConfirm.$invalid}">&check;</span>
                  </div>
              </div>

              <!-- Show/Hide password -->
              <div class="row mb-4 justify-content-end">
                  <div class="col-form-label d-none d-md-block col-md-5 w-auto "></div>
                  <div class="col-12 col-md-7">
                      <input id="register-showPassword"
                             class="form-check-input"
                             type="checkbox"
                             ng-init="model.register.showPassword=false"
                             ng-model="model.register.showPassword">
                      <label for="register-showPassword"
                             class="form-check-label ms-1">
                          Jelszó megjelenítése
                      </label>
                  </div>
              </div>

              <!-- Regisztráció gomb -->
              <div class="row justify-content-end mb-2">
                  <button type="button"
                          class="btn btn-primary w-auto px-5 me-3 text-capitalize"
                          ng-disabled="registerForm.$invalid"
                          ng-click="console.log('Sikeres Regisztráció')">
                      Regisztráció
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
